

<h1><%=  @article.title %> <%= link_to '✎', edit_article_path %> <%= link_to '🗑', article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %></h1>

<hr>

<p><%= @article.content %></p>
